#
# See https://kotlin-toolchain.org/dev/user-guide/publishing/
# Environment variables for publishing on Maven Central via:
#     kotlin publish mavenCentral
#
# 1. Copy this file to .env.publish as it will be ignored by git
#        cp .env.publish.dist .env.publish
# 2. Fill .env.publish with your secrets
# 3. Source it:
#        source .env.publish
# 4. Publish:
#        kotlin publish mavenCentral
#
# Of course, you don't have to use this file if you are using a more secure way to handle secrets.
# It's just an example.
#

# The username part of your Central Portal user token.
export KOTLIN_TOOLCHAIN_MAVEN_CENTRAL_USERNAME=""

# The password part of your Central Portal user token.
export KOTLIN_TOOLCHAIN_MAVEN_CENTRAL_PASSWORD=""

# The ASCII-armored PGP signing key to use to sign artifacts.
# You can export a private key in this format using the gpg --export-secret-keys --armor <KEY_ID> command.
export KOTLIN_TOOLCHAIN_SIGNING_KEY=""

# (optional) The passphrase to unlock the PGP key, if there is one.
export KOTLIN_TOOLCHAIN_SIGNING_KEY_PASSPHRASE=""
